<ion-view view-title="Aircraft Control Center">
  <ion-content>

  	<button class="col button button-calm" ng-click="drone.takeoff()">Takeoff</button>
  	<button class="col button button-calm" ng-click="drone.landing()">Landing</button>

  	<div style="font-size: 50px;">
	  	<div class="row text-center">
	  		<div class="col col-offset-33 col-33 positive button-control" ng-click="drone.moveForward()">
	  			<i class="icon ion-arrow-up-b"></i>
	  		</div>
	  	</div>

	  	<div class="row text-center" style="width: 100%">
	  		<div class="col col-33 positive button-control" ng-click="drone.moveLeft()">
	  			<i class="icon ion-arrow-left-b"></i>
	  		</div>
	  		
	  		<div class="col col-offset-33 col-33 positive button-control" ng-click="drone.moveRight()">
	  			<i class="icon ion-arrow-right-b"></i>
	  		</div>
	  	</div>
	  	
	  	<div class="row text-center">
	  		<div class="col col-offset-33 col-33 positive button-control" ng-click="drone.moveBackward()">
	  			<i class="icon ion-arrow-down-b"></i>
	  		</div>
	  	</div>
  	</div>

  	<div class="card" ng-show="drone.getLogs().length > 0">
  		<div class="item item-text-wrap item-icon-left" ng-repeat="log in drone.getLogs() | orderBy:timestamp:true | limitTo:6">
			<i ng-show="log.icon" class="icon calm {{log.icon}}"></i>
			{{log.message}}
			<span class="item-note">{{log.status}}</span>
	  	</div>
  	</div>

  </ion-content>
</ion-view>