<ion-view view-title="Control Center">
  <ion-content>

  	<button class="col button button-balanced" ng-click="drone.takeoff()">Takeoff</button>
  	<button class="col button button-balanced" ng-click="drone.landing()">Landing</button>

  	<div style="font-size: 50px;">
	  	<div class="row text-center">
	  		<div class="col col-offset-33 col-33 button-control" ng-click="drone.moveForward()">
	  			<i class="icon ion-arrow-up-a"></i>
	  		</div>
	  	</div>

	  	<div class="row text-center" style="width: 100%">
	  		<div class="col col-33 button-control" ng-click="drone.moveLeft()">
	  			<i class="icon ion-arrow-left-a"></i>
	  		</div>
	  		<div class="col col-33 button-control" ng-click="drone.stable()">
	  			<i class="icon ion-android-radio-button-on"></i>
	  		</div>
	  		<div class="col col-33 button-control" ng-click="drone.moveRight()">
	  			<i class="icon ion-arrow-right-a"></i>
	  		</div>
	  	</div>
	  	
	  	<div class="row text-center">
	  		<div class="col col-offset-33 col-33 button-control" ng-click="drone.moveBackward()">
	  			<i class="icon ion-arrow-down-a"></i>
	  		</div>
	  	</div>
  	</div>

  	<div class="card">
  		<div class="item item-text-wrap" ng-repeat="log in drone.getLogs() | orderBy:timestamp:true | limitTo:6">
			{{log.message}}
			<span class="item-note">{{log.status}}</span>
	  	</div>
  	</div>

  </ion-content>
</ion-view>